

*************** /* Responsive_CSS */ *****************

@media (max-width: 1199px) {}
@media (max-width: 991px) {
    .banner_content{
        padding-right: 0;
    }
    .banner_content h1 {
        font-size: 40px;
        line-height: 55px;
        margin: 10px 0;
    }

    .banner_content p {
        max-width: 325px;
        line-height: 30px;
    }

    .features_content {
        padding: 30px 10px;
        height: 244px;
    }

    .features_content img {
        height: 85px;
    }

    .features_content h2 {
        font-size: 20px;
    }

    .client_content p {
        line-height: 30px;
    }
}
@media (max-width: 767px) {
    .banner_content h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 600;
    }

    .banner_content p {
        line-height: 26px;
        font-size: 15px;
    }

    .btn_custom {
        text-decoration: none;
        padding: 8px 20px;

    }

    .features_content {
        padding: 30px 10px;
        margin-bottom: 40px;
    }

    .css1:hover {
        transform: translate(-8px, -8px);
    }

    .css2:hover {
        transform: translate(8px,-8px);
    }

    .css3:hover {
        transform: translate(-8px , 8px);
    }

    .css4:hover {
        transform: translate(8px, 8px);
    }

    .course_content h3 {
        font-size: 20px;
        margin-top: 10px;   
    }

    .course_content button {
        padding: 5px 12px;
        margin-top: 10px;
    }

    .course_content ul li {
        margin-top: 10px;
    }

    .footer_content p {
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {

    section {
        padding: 60px 0;
    }

    .banner_img {
        text-align: center;
    }

    .banner_img img {
        width: 80%;
    }


    .banner_content {
        padding-right: 0;
        text-align: center;
        margin-bottom: 30px;
    }

    .banner_content p {
        max-width: 300px;
        margin: auto;
        margin-bottom: 20px;
    }

    .head h1 {
        font-size: 32px;
    }

    .course_content {
        max-width: 400px;
        margin: auto;
        margin-top: 40px;
    }

    .content h1 {
        font-size: 32px;
    }

    .features_content {
        max-width: 300px;
        margin: auto;
        margin-bottom: 40px;
    }

    .footer_content p {
        margin-bottom: 30px;
        text-align: center;
    }

    .footer_menu {
        text-align: center;
    }

    .footer_menu ul {
        margin-bottom: 40px;
    }

    .copyright p {
        font-size: 16px;    
    }

    .copyright p span {
        font-size: 18px;
    }

    .client_img {
        text-align: center;
    }

    .client_img img {
        width: 250px;
        margin-bottom: 30px;
    }

    .client_content p {
        line-height: 30px;
        text-align: center;
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .btn_custom {
        text-decoration: none;
        padding: 8px 20px;
        font-size: 14px;
    }

    .head h1 {
        font-size: 28px;
    }

    .course_content {
        max-width: 340px;
    }

    .course_content ul li span {
        font-size: 14px;
    }

    .course_content h3 {
        font-size: 18px;
    }

    .course_content span {
        font-size: 14px;
    }

    .content h1 {
        font-size: 28px;
    }

    .client_img img {
        width: 220px;
    }

    .client_content p {
        line-height: 26px;
    }
   
}

@media (max-width: 380px) {
    .banner_content h1 {
        font-size: 26px;
        line-height: 36px;
        font-weight: 600;
    }
    
    .css1:hover {
        transform: translateY(8px);
    }
    .css2:hover {
        transform: translateY(8px);
    }
    .css3:hover {
        transform: translateY(8px);
    }
    .css4:hover {
        transform: translateY(8px);
    }
}